[language-server.codebook]
command = "codebook-lsp"
args = ["serve"]

[language-server.angular]
command = "ngserver"
args = [
  "--stdio",
  "--tsProbeLocations",
  "/var/home/sofusa/build/lib/node_modules",
  "--ngProbeLocations",
  "/var/home/sofusa/build/lib/node_modules",
]

[language-server.eslint]
command = "vscode-eslint-language-server"
args = ["--stdio"]

[language-server.azure-pipelines-language-server]
command = "azure-pipelines-language-server"

[language-server.eslint.config]
validate = "on"
experimental = { useFlatConfig = false }
rulesCustomizations = []
run = "onType"
problems = { shortenToSingleLine = false }
nodePath = ""
format = false
codeAction = { disableRuleComment = { enable = true, location = "separateLine" }, showDocumentation = { enable = true } }

[[language]]
name = "yaml"
language-servers = []

[[language]]
name = "markdown"
language-servers = [ "codebook", "markdown-oxide" ]

[[language]]
name = "c-sharp"
# formatter = { command = "csharpier", args = ["format"] }
auto-format = true
indent = { tab-width = 4, unit = "  " }
language-servers = ["roslyn-language-server", "codebook"]

[[language]]
name = "typescript"
formatter = { command = "prettier", args = ["--stdin-filepath=file.ts"] }
auto-format = true
language-servers = ["typescript-language-server", "angular", "eslint", "tailwindcss-ls", "codebook"]

[[language]]
name = "javascript"
formatter = { command = "prettier", args = ["--stdin-filepath=file.js"] }
auto-format = true

[[language]]
name = "html"
formatter = { command = "prettier", args = ["--parser", "angular", "--stdin-filepath=%{buffer_name}"]}
auto-format = true
language-servers = ["vscode-html-language-server", "tailwindcss-ls", "angular", "codebook"]

[[language]]
name = "svelte"
auto-format = true
language-servers = ["svelteserver", "tailwindcss-ls", "codebook"]

[[language]]
name = "json"
formatter = { command = "prettier", args = ["--stdin-filepath=%{buffer_name}"] }
auto-format = true

[[language]]
name = "css"
formatter = { command = "prettier", args = ["--stdin-filepath=%{buffer_name}"] }
auto-format = true

[[language]]
name = "scss"
formatter = { command = "prettier", args = ["--stdin-filepath=%{buffer_name}"] }
auto-format = true

[language-server.rust-analyzer.config]
check.command = "clippy"

[language-server.tailwindcss-ls]
config = { userLanguages = { rust = "html", "*.rs" = "html" } }

[[language]]
name = "rust"
auto-format = true
indent = { tab-width = 4, unit = "    " }
language-servers = ["rust-analyzer", "codebook"]
