layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
	tab name="edit" cwd="~/git/setlist-requests" {
		pane {
			command "hx"
		}
	}
	tab name="proccess" cwd="~/git/setlist-requests" {
		pane {
			command "npm"
			args "run" "watch"
		}
		pane {
			command "cargo"
			args "watch" "-x" "'run'"
		}
		pane {
			command "./start-postgres"
		}
	}

	tab name="commands" cwd="~/git/setlist-requests" {
		pane {}
		
	}
}
