layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
	pane cwd="~/git/setlist-requests" {
		command "npm"
		args "run" "watch"
	}
	pane cwd="~/git/setlist-requests" {
		command "cargo"
		args "watch" "-x" "'run'"
	}
	pane cwd="~/git/setlist-requests" {
		command "./start-postgres"
	}
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
