name: Bundle and Release

on:
  push:
    tags:
      - '*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Bundle
        run: |
          nix bundle --bundler github:DavHau/nix-portable -o bundle nixpkgs#hello

      - name: Upload release
        uses: softprops/action-gh-release@v1
        with:
          files: ./bundle/bin/hello
